<form action="/login" method="post">

  <label> LOGIN! </label>

  <br><br>

  <label for="username">Username:</label>
  <input type="text" name="username">

  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password">

  <br><br>

  <input type="submit" name="Log In">

</form>
